In [70]:
# tambahkan modul disini
import mysql.connector

In [118]:
# sambungkan ke database server
db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = ''
)

dbCursor = db.cursor()

In [ ]:
# buat database dbapotek
dbCursor.execute("CREATE DATABASE dbapotek")

In [120]:
# pilih database dbapotek
dbCursor.execute('USE dbapotek')

In [32]:
# buat tabel-tabel pada database
dbCursor.execute(
    '''CREATE TABLE GolonganObat (
        Id INT(11) NOT NULL AUTO_INCREMENT,
        Golongan VARCHAR(255) NOT NULL,
        PRIMARY KEY (Id));'''
)

print('tambah tabel golongan obat')

dbCursor.execute(
    ''' CREATE TABLE Obat (
        Id INT(11) NOT NULL AUTO_INCREMENT,
        NamaObat VARCHAR(255) NULL,
        GolonganId INT(11) NULL,
        Harga INT(11) NULL,
        PRIMARY KEY (Id),
        FOREIGN KEY (GolonganId) REFERENCES GolonganObat(Id))'''
)

print('tambah tabel obat')

tambah tabel golongan obat
tambah tabel obat

In [83]:
# lihat data golongan obat
dbCursor.execute('SELECT * FROM GolonganObat')
numColumn = len(dbCursor.description)
nameColumn = [i[0] for i in dbCursor.description]

print(nameColumn)
myresult = dbCursor.fetchall()
for x in myresult:
  print(x)

['Id', 'Golongan']
(16, 'Obat tidak berbahaya')
(17, 'Obat bebas terbatas')
(18, 'Obat keras')
(19, 'Narkotika')

In [48]:
# tambah data golongan obat
sql = "INSERT INTO GolonganObat (Golongan) VALUES ('Obat bebas'), ('Obat bebas terbatas'), ('Obat keras'), ('Narkotika')"

dbCursor.execute(sql)
db.commit()

print(dbCursor.rowcount, "telah ditambahkan ke golongan obat.")

4 telah ditambahkan ke golongan obat.

In [85]:
# ubah data golongan obat
data = "'Obat bebas'"
golonganId = 16
sql = f"UPDATE GolonganObat SET Golongan = {data}  WHERE Id = {golonganId}"

dbCursor.execute(sql)
db.commit()

print(f"Golongan obat {golonganId} telah diperbarui menjadi {data}.")

Golongan obat 16 telah diperbarui menjadi 'Obat bebas'.

In [123]:
# lihat data golongan obat
dbCursor.execute('SELECT * FROM Obat')
numColumn = len(dbCursor.description)
nameColumn = [i[0] for i in dbCursor.description]

print(nameColumn)
myresult = dbCursor.fetchall()
for x in myresult:
  print(x)

['Id', 'NamaObat', 'GolonganId', 'Harga']
(1, 'Rifampisin', 18, 10000)
(2, 'Bodrex', 16, 1500)
(3, 'Antimo', 16, 1000)

In [68]:
# tambah data golongan obat
sql = "INSERT INTO Obat (NamaObat, GolonganId, Harga) VALUES ('Rifampisin', 18, 4000), ('Bodrex', 16, 1500), ('Antimo', 16, 1000)"

dbCursor.execute(sql)
db.commit()

print(dbCursor.rowcount, "telah ditambahkan ke obat.")

3 telah ditambahkan ke obat.

In [122]:
# ubah data golongan obat
ObatId = 1
dbCursor.execute(f'SELECT * FROM Obat WHERE Id = {ObatId}')
dataObat = dbCursor.fetchone()
NamaObat = "'"+dataObat[1]+"'"
GolonganId = dataObat[2]
Harga = 10000


sql = f"""UPDATE Obat
    SET NamaObat = {NamaObat}, GolonganId = {GolonganId}, Harga = {Harga}
    WHERE Id = {ObatId}"""
dbCursor.execute(sql)
db.commit()

print(f"Golongan obat {golonganId} telah diperbarui menjadi NamaObat = {NamaObat}, GolonganId = {GolonganId}, Harga = {Harga}.")

Golongan obat 16 telah diperbarui menjadi NamaObat = 'Rifampisin', GolonganId = 18, Harga = 10000.