In [1]:
# tambahkan modul disini
import mysql.connector

In [56]:
# sambungkan ke database server
db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = ''
)

dbCursor = db.cursor()

In [59]:
# pilih database dbapotek
dbCursor.execute('USE dbapotek')

In [32]:
# buat tabel-tabel pada database
dbCursor.execute(
    '''CREATE TABLE GolonganObat (
        Id INT(11) NOT NULL AUTO_INCREMENT,
        Golongan VARCHAR(255) NOT NULL,
        PRIMARY KEY (Id));'''
)

print('tambah tabel golongan obat')

dbCursor.execute(
    ''' CREATE TABLE Obat (
        Id INT(11) NOT NULL AUTO_INCREMENT,
        NamaObat VARCHAR(255) NULL,
        GolonganId INT(11) NULL,
        Harga INT(11) NULL,
        PRIMARY KEY (Id),
        FOREIGN KEY (GolonganId) REFERENCES GolonganObat(Id))'''
)

print('tambah tabel obat')

tambah tabel golongan obat
tambah tabel obat

In [48]:
# tambah data golongan obat
sql = ("""INSERT INTO GolonganObat (Golongan) VALUES ('Obat bebas'), ('Obat bebas terbatas'), ('Obat keras'), ('Narkotika')""")

dbCursor.execute(sql)
db.commit()

print(dbCursor.rowcount, "telah ditambahkan ke golongan obat.")

4 telah ditambahkan ke golongan obat.

In [67]:
# lihat data golongan obat
dbCursor.execute('SELECT * FROM GolonganObat')
numColumn = len(dbCursor.description)
nameColumn = [i[0] for i in dbCursor.description]

print(nameColumn)
myresult = dbCursor.fetchall()
for x in myresult:
  print(x)

['Id', 'Golongan']
(16, 'Obat bebas')
(17, 'Obat bebas terbatas')
(18, 'Obat keras')
(19, 'Narkotika')

In [68]:
# tambah data golongan obat
sql = ("""INSERT INTO Obat (NamaObat, GolonganId, Harga) VALUES ('Rifampisin', 18, 4000), ('Bodrex', 16, 1500), ('Antimo', 16, 1000)""")

dbCursor.execute(sql)
db.commit()

print(dbCursor.rowcount, "telah ditambahkan ke obat.")

3 telah ditambahkan ke obat.

In [69]:
# lihat data golongan obat
dbCursor.execute('SELECT * FROM Obat')
numColumn = len(dbCursor.description)
nameColumn = [i[0] for i in dbCursor.description]

print(nameColumn)
myresult = dbCursor.fetchall()
for x in myresult:
  print(x)

['Id', 'NamaObat', 'GolonganId', 'Harga']
(1, 'Rifampisin', 18, 4000)
(2, 'Bodrex', 16, 1500)
(3, 'Antimo', 16, 1000)